.popin-open {
  .bandeau-top-container {
    z-index: 1000;
  }
}
.content-bandeau-sticky {
  padding-top: 20rem;
}
.bandeau-top-container {
  @include flex-display();
  @include align-items(center);
  @include align-content(center);
  @include justify-content(flex-end);
  padding: 4rem 0 3.4rem;
  position: sticky;
  top: -1px;
  background: var(--color-white);
  z-index: 10000;
  border-bottom: 0rem solid var(--color-main-10);
  .title-buttons-container {
    position:relative;
    .button-return-container {
      position:absolute;
      left: -4rem;
      opacity: 0;
    }
    .title-button-content {
      @include flex-display();
      @include align-items(center);
      @include flex-direction(row);
      .title-container {
        .title {
        }
        .h1-sub-title {
          overflow: hidden;
        }
      }
    }
  }
  .buttons-content {
    @include flex-display();
    @include align-items(center);
    @include align-content(center);
    @include justify-content(flex-end);
    margin: 0 -0.5rem;
    height:100%;
    li {
      margin: 0 0.5rem;
    }
  }
  .button-return-top-container {
    position:relative;
    margin: 0 -1.5rem;
    overflow: hidden;
    .button-return-content {
      position:relative;
    }
  }
  .button-return-container {
    width: 3.6rem;
    overflow: hidden;
  }

}
.content-bandeau-sticky {
  .bandeau-top-container {
    position: fixed;
    padding-top:2rem;
    width: calc(100% - 36rem);
    left: 6rem;
    @media #{$media-desktop-big-min} {
      width: calc(100% - 60rem);
      left: 30rem;
    }
    top:0;
    .button-submit {
      @include transition-default();
    }
    &.sticky {
      .col--align-bottom {
        padding-top: 0.6rem;
        align-self: center;
      }
      .button-submit {
        height: 3rem;
      }
    }
    .title-button-content {
      padding-top: 3rem;
    }
  }
}