/** Guideline Fonts **/
:root {
  --color-guideline-iframe-border: var(--color-main-20);
  --color-guideline-background: var(--color-main-10);
}
.guideline-components-container {
  background: var(--color-guideline-background);
}
.guideline-components {

  &.is-modal-open {
    .guideline-components-parameters-container,
    .guideline-overlay {
      pointer-events: auto;
    }
    .guideline-overlay {
      opacity: 1;
    }
    .guideline-components-parameters-container {
      right:0rem;
      opacity: 1;
    }
  }

  .guideline-sizes {
    padding: 1rem 1rem 3rem;
    .screen-select-content {
      width: 15rem;
      margin-right: 1rem;
    }
    .fields-content > .field-content {
      margin: 0 1.5rem;
    }
    .fields-content,
    .group-sizes {
      @include flex-display();
      @include align-items(center);
      @include align-content(center);
    }
    .group-sizes {
      .field-content {
        width: 10rem;
      }
    }
    .separate-sizes {
      padding: 0 0.5rem;
    }
    .buttons {
      @include flex-display();
      @include justify-content(center);
      @include align-items(center);
      @include align-content(center);
      margin-left: 1rem;
      .button {
        --background-color-button-picto-with-background: var(--color-main-20);
        .picto {
          font-size: 1.4rem;
        }
        &.switch {
          position:relative;
          .picto {
            position:relative;
            transform-origin: center center;
            &:before {
              @include transition-default();
              transform-origin: center center;
              -webkit-transform: rotate(0) translate(-50%, -50%);
              -moz-transform: rotate(0) translate(-50%, -50%);
              -o-transform: rotate(0) translate(-50%, -50%);
              -ms-transform: rotate(0) translate(-50%, -50%); // IE9 only
              transform: rotate(0) translate(-50%, -50%);
              left: 50%;
              top: 50%;
              margin-left: -0.3rem;
              position:absolute;
            }
          }
          .normal, .reverse {
            @include transition-default(all, 600ms);
            opacity: 1;
            position:absolute;
            top:0;
            z-index: 10;
          }
          .normal {
            @include position-middle-y;
            right: 0.3rem;
          }
          .reverse {
            left: 1.3rem;
            opacity: 0;
            top: 0.4rem;
          }
          &.is-reverse {
            .normal {
              opacity: 0;
            }
            .reverse {
              opacity: 1;
            }
            .picto {
              &:before {
                -webkit-transform: rotate(90deg) translate(-50%, -50%);
                -moz-transform: rotate(90deg) translate(-50%, -50%);
                -o-transform: rotate(90deg) translate(-50%, -50%);
                -ms-transform: rotate(90deg) translate(-50%, -50%); // IE9 only
                transform: rotate(90deg) translate(-50%, -50%);
                margin-left: -1.2rem;
                margin-top: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
  .guideline-sizes,
  .guideline-container {
    @include flex-display();
    @include justify-content(center);
    @include align-items(stretch);
    @include align-content(stretch);
    .field-content,
    .field {
      height: 100%;
    }
    .fields-content {
      .field-content {
        &.animate {
          label:not(.not-animate) {
            top: 1.8rem;
          }
        }
      }
    }
  }
  .guideline-container {
    *[data-guideline-container] {
      box-shadow: 0px 0px 0px 20px var(--color-guideline-iframe-border);
      background: var(--color-guideline-iframe-border);
    }
  }
  .guideline-overlay {
    @include transition-default(all, 300ms);
    background: rgba(0,0,0,0.5);
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    position:fixed;
    z-index:10;
    pointer-events: none;
    opacity: 0;
  }
  .guideline-components-parameters-container {
    @include transition-default(all, 300ms);
    position:fixed;
    z-index:15;
    top:0;
    right:-10rem;
    opacity: 0;
    pointer-events: none;
    width: 50rem;
    background: var(--color-white);
    overflow-y: auto;
    height: 100vh;
    .top {
      position:relative;
      height: 2rem;
    }
    .close-modal {
      cursor:pointer;
      position:absolute;
      right: 1rem;
      top: 1rem;
      font-size: 1.8rem;
    }
    .guideline-component-parameters {
      padding: 0 2rem;
      margin: 2rem 0;
      .title {
        display:block;
        @extend .font-poppins-sb-18;
        padding: 1rem;
        background: var(--color-main-10);
      }
      .button-action-container {
        position:absolute;
        top:1rem;
        right: 1rem;
      }
    }
    .form-container {
      padding: 0;
    }
  }
}

