table {
  width: 100%;
  border-collapse: separate;
  thead {
    th {
      background: var(--color-main-10);
      vertical-align: middle;
      padding: 2.3rem 1.5rem;
    }
  }
  tbody {
    td {
      padding: 2rem 1.5rem;
      color: var(--color-black);
      border-bottom: .1rem solid var(--color-main-10);
    }
  }
}