@import "base/import";
@import "colors/import";
@import "fonts/import";
@import "../vendor/styles/import";
@import "layout/import";
@import "components/import";


.grid--container {
  max-width: $containerMaxWith;
  padding: $containerPadding;
}
.form-container {
  .grid--container {
    max-width: $containerMaxWithToForm;
  }
}

.picto-circle {
  @include radius(100%);
  display:inline-block;
  height:0.8rem;
  width: 0.8rem;
  background: var(--color-main-20);
  &.status-published {
    background: var(--color-green-90);
  }
  &.status-draft {
    background: var(--color-purple-90);
  }
}