<div id="popin-graphic-items" class="popin-container popin-editor graphic-items-choice" data-popin="links" data-template-ajax="{{ path("austral_admin_popin_graphic_items") }}">
  <span class="popin-close" data-popin-close="">
    <span class="picto austral-picto-cross"></span>
  </span>
  <div class="popin-content" ></div>
</div>