<div id="popin-select-links"
     class="popin-container popin-editor popin-select-links"
     data-popin="links"
     data-template-ajax="{{ path("austral_admin_popin_select_links", {"_locale": language.current}) }}">
  <span class="popin-close" data-popin-close="">
    <span class="picto austral-picto-cross"></span>
  </span>
  <div class="popin-content" ></div>
</div>