<div id="popin-select-links" class="popin-container popin-editor popin-select-links" data-popin="links" data-template-ajax="{{ url("austral_admin_popin_select_links") }}">
  <span class="popin-close" data-popin-close="">
    <span class="picto austral-picto-cross"></span>
  </span>
  <div class="popin-content" ></div>
</div>