<div id="popin-editor-upload-master" class="popin-container popin-editor popin-file-editor" data-popin="upload">
  <span class="popin-close" data-popin-close="">
    <span class="picto austral-picto-cross"></span>
  </span>
  <div class="popin-content"></div>
</div>