<div>
  {{ include("@AustralDesign/Components/Button/white.html.twig",
    {
      tag:            "span",
      picto:          "__CROPPER_PICTO__",
      title:          "__CROPPER_NAME__",
      data: {
        "data-cropper-key": "__CROPPER_KEY__"
      }
    }
  )
-}}</div>