@font-face {
  font-family: 'Austral-picto';
  src:  url('fonts/Austral-picto.eot?6gvw7w');
  src:  url('fonts/Austral-picto.eot?6gvw7w#iefix') format('embedded-opentype'),
    url('fonts/Austral-picto.ttf?6gvw7w') format('truetype'),
    url('fonts/Austral-picto.woff?6gvw7w') format('woff'),
    url('fonts/Austral-picto.svg?6gvw7w#Austral-picto') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="austral-picto-"], [class*=" austral-picto-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Austral-picto' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.austral-picto-company:before {
  content: "\e985";
}
.austral-picto-home:before {
  content: "\e900";
}
.austral-picto-home-bis:before {
  content: "\ea71";
}
.austral-picto-pizza:before {
  content: "\e901";
}
.austral-picto-caution:before {
  content: "\e902";
}
.austral-picto-alerte-octagon:before {
  content: "\e903";
}
.austral-picto-ban:before {
  content: "\e904";
}
.austral-picto-interdict:before {
  content: "\e905";
}
.austral-picto-power:before {
  content: "\e906";
}
.austral-picto-minus:before {
  content: "\e907";
}
.austral-picto-equal:before {
  content: "\e908";
}
.austral-picto-not-equal:before {
  content: "\e909";
}
.austral-picto-menu:before {
  content: "\e90a";
}
.austral-picto-list-add:before {
  content: "\e90b";
}
.austral-picto-list-ol:before {
  content: "\ea7d";
}
.austral-picto-list-ul:before {
  content: "\e90c";
}
.austral-picto-gantt:before {
  content: "\e90d";
}
.austral-picto-align-center:before {
  content: "\e90e";
}
.austral-picto-align-justify:before {
  content: "\e90f";
}
.austral-picto-align-left:before {
  content: "\e910";
}
.austral-picto-align-right:before {
  content: "\e911";
}
.austral-picto-indent-less:before {
  content: "\e912";
}
.austral-picto-indent-more:before {
  content: "\e913";
}
.austral-picto-arrange:before {
  content: "\e914";
}
.austral-picto-arrow-down:before {
  content: "\e915";
}
.austral-picto-arrow-left:before {
  content: "\e916";
}
.austral-picto-arrow-leftdown:before {
  content: "\e917";
}
.austral-picto-arrow-leftup:before {
  content: "\e918";
}
.austral-picto-arrow-right:before {
  content: "\e919";
}
.austral-picto-arrow-rightdown:before {
  content: "\e91a";
}
.austral-picto-arrow-rightup:before {
  content: "\e91b";
}
.austral-picto-arrow-up:before {
  content: "\e91c";
}
.austral-picto-corner-rearward:before {
  content: "\e91d";
}
.austral-picto-corner-forward:before {
  content: "\e91e";
}
.austral-picto-corner-down-left:before {
  content: "\ea3d";
}
.austral-picto-corner-down-right:before {
  content: "\ea3e";
}
.austral-picto-corner-left-down:before {
  content: "\ea3f";
}
.austral-picto-corner-left-up:before {
  content: "\ea40";
}
.austral-picto-corner-right-down:before {
  content: "\ea41";
}
.austral-picto-corner-right-up:before {
  content: "\ea42";
}
.austral-picto-corner-up-left:before {
  content: "\ea43";
}
.austral-picto-corner-up-right:before {
  content: "\ea44";
}
.austral-picto-switch:before {
  content: "\e920";
}
.austral-picto-minimize:before {
  content: "\e91f";
}
.austral-picto-maximize:before {
  content: "\e921";
}
.austral-picto-move:before {
  content: "\e922";
}
.austral-picto-go-in:before {
  content: "\e923";
}
.austral-picto-go-out:before {
  content: "\e924";
}
.austral-picto-log-in:before {
  content: "\ea80";
}
.austral-picto-log-out:before {
  content: "\ea81";
}
.austral-picto-box-in:before {
  content: "\e925";
}
.austral-picto-box-out:before {
  content: "\e926";
}
.austral-picto-simply-left:before {
  content: "\e927";
}
.austral-picto-simply-down:before {
  content: "\e928";
}
.austral-picto-simply-right:before {
  content: "\e929";
}
.austral-picto-simply-up:before {
  content: "\e92a";
}
.austral-picto-chevrons-left:before {
  content: "\ea29";
}
.austral-picto-chevrons-down:before {
  content: "\ea28";
}
.austral-picto-chevrons-right:before {
  content: "\ea2a";
}
.austral-picto-chevrons-up:before {
  content: "\ea2b";
}
.austral-picto-check:before {
  content: "\e92b";
}
.austral-picto-plus:before {
  content: "\e92c";
}
.austral-picto-cross:before {
  content: "\e92d";
}
.austral-picto-rotate-anticlockwise:before {
  content: "\e92e";
}
.austral-picto-rotate-clockwise:before {
  content: "\e92f";
}
.austral-picto-refresh:before {
  content: "\e930";
}
.austral-picto-refresh-ccw:before {
  content: "\eab3";
}
.austral-picto-refresh-cw:before {
  content: "\eab4";
}
.austral-picto-repeat:before {
  content: "\eab5";
}
.austral-picto-shuffle:before {
  content: "\e931";
}
.austral-picto-code:before {
  content: "\e932";
}
.austral-picto-circle-info:before {
  content: "\ea74";
}
.austral-picto-circle-alert:before {
  content: "\e9f8";
}
.austral-picto-circle-help:before {
  content: "\ea6f";
}
.austral-picto-circle-check-out:before {
  content: "\ea22";
}
.austral-picto-circle-check:before {
  content: "\e933";
}
.austral-picto-circle-cross:before {
  content: "\e934";
}
.austral-picto-circle-minus:before {
  content: "\e935";
}
.austral-picto-circle-plus:before {
  content: "\e936";
}
.austral-picto-circle-play:before {
  content: "\eaab";
}
.austral-picto-circle-pause:before {
  content: "\ea9f";
}
.austral-picto-circle-stop:before {
  content: "\ead1";
}
.austral-picto-circle-arrow-down:before {
  content: "\ea03";
}
.austral-picto-circle-arrow-left:before {
  content: "\ea07";
}
.austral-picto-circle-arrow-right:before {
  content: "\ea09";
}
.austral-picto-circle-arrow-up:before {
  content: "\ea0b";
}
.austral-picto-octagon-cross:before {
  content: "\eb00";
}
.austral-picto-copy:before {
  content: "\ea3c";
}
.austral-picto-stack:before {
  content: "\e93f";
}
.austral-picto-stack-2:before {
  content: "\e940";
}
.austral-picto-square-help:before {
  content: "\e939";
}
.austral-picto-square-check-out:before {
  content: "\ea23";
}
.austral-picto-square-check:before {
  content: "\e937";
}
.austral-picto-square-cross:before {
  content: "\e938";
}
.austral-picto-square-minus:before {
  content: "\e93a";
}
.austral-picto-square-plus:before {
  content: "\e93b";
}
.austral-picto-marquee:before {
  content: "\e941";
}
.austral-picto-marquee-minus:before {
  content: "\e942";
}
.austral-picto-marquee-plus:before {
  content: "\e943";
}
.austral-picto-clipboard:before {
  content: "\e944";
}
.austral-picto-paper-stack:before {
  content: "\e945";
}
.austral-picto-file:before {
  content: "\e946";
}
.austral-picto-file-add:before {
  content: "\e948";
}
.austral-picto-file-subtract:before {
  content: "\e94b";
}
.austral-picto-file-text:before {
  content: "\ea5c";
}
.austral-picto-file-paper:before {
  content: "\e947";
}
.austral-picto-file-check:before {
  content: "\e949";
}
.austral-picto-file-cross:before {
  content: "\e94a";
}
.austral-picto-file-download:before {
  content: "\e94c";
}
.austral-picto-file-upload:before {
  content: "\e94d";
}
.austral-picto-download:before {
  content: "\e94e";
}
.austral-picto-upload:before {
  content: "\e94f";
}
.austral-picto-open:before {
  content: "\e9af";
}
.austral-picto-sliders:before {
  content: "\eacb";
}
.austral-picto-cog:before {
  content: "\e951";
}
.austral-picto-tool:before {
  content: "\eade";
}
.austral-picto-paper-clip:before {
  content: "\e9b1";
}
.austral-picto-save:before {
  content: "\eaba";
}
.austral-picto-feather:before {
  content: "\e996";
}
.austral-picto-pen:before {
  content: "\e954";
}
.austral-picto-edit:before {
  content: "\ea51";
}
.austral-picto-edit-2:before {
  content: "\ea50";
}
.austral-picto-edit-3:before {
  content: "\ea52";
}
.austral-picto-trash:before {
  content: "\e956";
}
.austral-picto-trash-2:before {
  content: "\eae0";
}
.austral-picto-folder:before {
  content: "\e957";
}
.austral-picto-folder-add:before {
  content: "\e958";
}
.austral-picto-folder-subtract:before {
  content: "\e959";
}
.austral-picto-cloud:before {
  content: "\e95a";
}
.austral-picto-cloud-download:before {
  content: "\e95b";
}
.austral-picto-cloud-upload:before {
  content: "\e95c";
}
.austral-picto-cloud-upload-2:before {
  content: "\eaec";
}
.austral-picto-unlock:before {
  content: "\e95d";
}
.austral-picto-lock:before {
  content: "\e95e";
}
.austral-picto-shield:before {
  content: "\e9d8";
}
.austral-picto-shield-off:before {
  content: "\e9d9";
}
.austral-picto-eye:before {
  content: "\e95f";
}
.austral-picto-eyenot:before {
  content: "\e960";
}
.austral-picto-location:before {
  content: "\e961";
}
.austral-picto-zoom-in:before {
  content: "\e962";
}
.austral-picto-zoom-out:before {
  content: "\e963";
}
.austral-picto-search:before {
  content: "\e9d5";
}
.austral-picto-head:before {
  content: "\e964";
}
.austral-picto-user:before {
  content: "\e965";
}
.austral-picto-user-check:before {
  content: "\eaee";
}
.austral-picto-user-minus:before {
  content: "\eaef";
}
.austral-picto-user-plus:before {
  content: "\e966";
}
.austral-picto-user-cross:before {
  content: "\eaf1";
}
.austral-picto-users:before {
  content: "\e967";
}
.austral-picto-woman:before {
  content: "\e997";
}
.austral-picto-man:before {
  content: "\e99d";
}
.austral-picto-handicap-access:before {
  content: "\e99b";
}
.austral-picto-message-circle:before {
  content: "\ea89";
}
.austral-picto-speech-bubble:before {
  content: "\e968";
}
.austral-picto-speech-bubble-full:before {
  content: "\e969";
}
.austral-picto-speech-bubble-message:before {
  content: "\e96a";
}
.austral-picto-heart:before {
  content: "\e96b";
}
.austral-picto-heart-full:before {
  content: "\e96c";
}
.austral-picto-star:before {
  content: "\e96d";
}
.austral-picto-star-full:before {
  content: "\e96e";
}
.austral-picto-bar-graph:before {
  content: "\e970";
}
.austral-picto-bar-graph-2:before {
  content: "\e971";
}
.austral-picto-bell:before {
  content: "\e973";
}
.austral-picto-bell-2:before {
  content: "\ea14";
}
.austral-picto-bell-off:before {
  content: "\ea15";
}
.austral-picto-globe:before {
  content: "\e99a";
}
.austral-picto-aperture:before {
  content: "\ea00";
}
.austral-picto-help:before {
  content: "\e979";
}
.austral-picto-charts:before {
  content: "\e97a";
}
.austral-picto-charts-2:before {
  content: "\e97b";
}
.austral-picto-charts-3:before {
  content: "\e97c";
}
.austral-picto-pie-graph:before {
  content: "\e97d";
}
.austral-picto-pie-chart:before {
  content: "\eaa9";
}
.austral-picto-circles:before {
  content: "\e97e";
}
.austral-picto-record:before {
  content: "\e9d1";
}
.austral-picto-circle:before {
  content: "\ea2c";
}
.austral-picto-disc:before {
  content: "\e991";
}
.austral-picto-target:before {
  content: "\ead7";
}
.austral-picto-infinity:before {
  content: "\e97f";
}
.austral-picto-calendar:before {
  content: "\e978";
}
.austral-picto-calendar-2:before {
  content: "\ea1d";
}
.austral-picto-chrono:before {
  content: "\e980";
}
.austral-picto-clock:before {
  content: "\e981";
}
.austral-picto-watch:before {
  content: "\e982";
}
.austral-picto-clock-2:before {
  content: "\e983";
}
.austral-picto-historic:before {
  content: "\e99c";
}
.austral-picto-hourglass:before {
  content: "\e99e";
}
.austral-picto-columns:before {
  content: "\e984";
}
.austral-picto-columns-2:before {
  content: "\ea39";
}
.austral-picto-sidebar:before {
  content: "\eac7";
}
.austral-picto-layout:before {
  content: "\e9a0";
}
.austral-picto-layout-2:before {
  content: "\eae1";
}
.austral-picto-content-left:before {
  content: "\e986";
}
.austral-picto-content-right:before {
  content: "\e987";
}
.austral-picto-grid-2:before {
  content: "\e988";
}
.austral-picto-qrcode:before {
  content: "\e9cf";
}
.austral-picto-grid:before {
  content: "\e989";
}
.austral-picto-list:before {
  content: "\e98a";
}
.austral-picto-cube:before {
  content: "\e98b";
}
.austral-picto-figure:before {
  content: "\e98c";
}
.austral-picto-expand:before {
  content: "\e98d";
}
.austral-picto-contract:before {
  content: "\e98e";
}
.austral-picto-credit-card:before {
  content: "\ea46";
}
.austral-picto-credit-card-2:before {
  content: "\e98f";
}
.austral-picto-ellipsis:before {
  content: "\e993";
}
.austral-picto-ellipsis-vertical:before {
  content: "\e994";
}
.austral-picto-more-horizontal:before {
  content: "\ea94";
}
.austral-picto-more-vertical:before {
  content: "\ea95";
}
.austral-picto-hexagon:before {
  content: "\ea70";
}
.austral-picto-octagon:before {
  content: "\ea9b";
}
.austral-picto-square:before {
  content: "\e93d";
}
.austral-picto-square-full:before {
  content: "\e93e";
}
.austral-picto-stop:before {
  content: "\e93c";
}
.austral-picto-lozenge:before {
  content: "\e9a5";
}
.austral-picto-lozenge-full:before {
  content: "\e9a6";
}
.austral-picto-triangle:before {
  content: "\eae4";
}
.austral-picto-up:before {
  content: "\e9a7";
}
.austral-picto-down:before {
  content: "\e992";
}
.austral-picto-mail:before {
  content: "\e9a8";
}
.austral-picto-arobase:before {
  content: "\e953";
}
.austral-picto-phone:before {
  content: "\e9b4";
}
.austral-picto-phone-full:before {
  content: "\e9b3";
}
.austral-picto-phone-call:before {
  content: "\e9b5";
}
.austral-picto-phone-forwarded:before {
  content: "\eaa4";
}
.austral-picto-phone-incoming:before {
  content: "\eaa5";
}
.austral-picto-phone-missed:before {
  content: "\eaa6";
}
.austral-picto-phone-off:before {
  content: "\e9b6";
}
.austral-picto-phone-outgoing:before {
  content: "\eaa8";
}
.austral-picto-compass:before {
  content: "\ea3b";
}
.austral-picto-pin:before {
  content: "\e9b7";
}
.austral-picto-map:before {
  content: "\e9a9";
}
.austral-picto-bluetooth:before {
  content: "\ea16";
}
.austral-picto-wifi:before {
  content: "\eafb";
}
.austral-picto-wifi-off:before {
  content: "\eafc";
}
.austral-picto-rss-light:before {
  content: "\eab9";
}
.austral-picto-radio:before {
  content: "\eab2";
}
.austral-picto-media-rewind-fast:before {
  content: "\e9b8";
}
.austral-picto-media-forward-fast:before {
  content: "\e9b9";
}
.austral-picto-media-rewind:before {
  content: "\eac8";
}
.austral-picto-media-forward:before {
  content: "\eac9";
}
.austral-picto-media-rewind-2:before {
  content: "\e9ba";
}
.austral-picto-media-forward-2:before {
  content: "\e9bb";
}
.austral-picto-media-rewind-3:before {
  content: "\eab6";
}
.austral-picto-media-forward-3:before {
  content: "\ea56";
}
.austral-picto-play:before {
  content: "\e9bc";
}
.austral-picto-play-full:before {
  content: "\e9bd";
}
.austral-picto-pause:before {
  content: "\e9be";
}
.austral-picto-pause-2:before {
  content: "\ea9e";
}
.austral-picto-mic:before {
  content: "\e9bf";
}
.austral-picto-mic-off:before {
  content: "\ea8c";
}
.austral-picto-headphone:before {
  content: "\e9c0";
}
.austral-picto-speaker:before {
  content: "\eace";
}
.austral-picto-volume:before {
  content: "\eaf6";
}
.austral-picto-volume-middle:before {
  content: "\eaf7";
}
.austral-picto-volume-full:before {
  content: "\e9c2";
}
.austral-picto-volume-mute:before {
  content: "\e9c1";
}
.austral-picto-voicemail:before {
  content: "\eaf5";
}
.austral-picto-music:before {
  content: "\e9c3";
}
.austral-picto-movie:before {
  content: "\e9c4";
}
.austral-picto-image:before {
  content: "\e9c5";
}
.austral-picto-camera:before {
  content: "\ea1e";
}
.austral-picto-camera-off:before {
  content: "\ea1f";
}
.austral-picto-video:before {
  content: "\eaf3";
}
.austral-picto-video-off:before {
  content: "\eaf4";
}
.austral-picto-cast:before {
  content: "\ea20";
}
.austral-picto-monitor:before {
  content: "\ea92";
}
.austral-picto-tv:before {
  content: "\eae6";
}
.austral-picto-airplay:before {
  content: "\e9f7";
}
.austral-picto-printer:before {
  content: "\e9cc";
}
.austral-picto-printer-2:before {
  content: "\eab1";
}
.austral-picto-mouse:before {
  content: "\e9ae";
}
.austral-picto-pad:before {
  content: "\e9b0";
}
.austral-picto-tablet:before {
  content: "\ead5";
}
.austral-picto-smartphone:before {
  content: "\eacc";
}
.austral-picto-analytics:before {
  content: "\e9c6";
}
.austral-picto-activity:before {
  content: "\e9c7";
}
.austral-picto-trending-down:before {
  content: "\e9c8";
}
.austral-picto-trending-up:before {
  content: "\e9c9";
}
.austral-picto-bar-chart:before {
  content: "\ea10";
}
.austral-picto-bar-chart-2:before {
  content: "\ea11";
}
.austral-picto-database:before {
  content: "\ea49";
}
.austral-picto-inbox:before {
  content: "\ea73";
}
.austral-picto-hard-drive:before {
  content: "\ea6b";
}
.austral-picto-server:before {
  content: "\eabe";
}
.austral-picto-archive:before {
  content: "\e952";
}
.austral-picto-cpu:before {
  content: "\ea45";
}
.austral-picto-cpu-2:before {
  content: "\e9ce";
}
.austral-picto-speed:before {
  content: "\e9df";
}
.austral-picto-spinner:before {
  content: "\e9e0";
}
.austral-picto-toggle-left:before {
  content: "\eadc";
}
.austral-picto-toggle-right:before {
  content: "\eadd";
}
.austral-picto-hash:before {
  content: "\23";
}
.austral-picto-percent:before {
  content: "\25";
}
.austral-picto-euro:before {
  content: "\20ac";
}
.austral-picto-dollar:before {
  content: "\24";
}
.austral-picto-anchor:before {
  content: "\e96f";
}
.austral-picto-anchor-2:before {
  content: "\e9ff";
}
.austral-picto-text:before {
  content: "\e9e8";
}
.austral-picto-news:before {
  content: "\e9e9";
}
.austral-picto-superior:before {
  content: "\e9ea";
}
.austral-picto-symbol:before {
  content: "\e9eb";
}
.austral-picto-bold:before {
  content: "\e9ec";
}
.austral-picto-italic:before {
  content: "\e9ed";
}
.austral-picto-underline:before {
  content: "\e9ee";
}
.austral-picto-strike:before {
  content: "\e9ef";
}
.austral-picto-paragraph:before {
  content: "\e9f0";
}
.austral-picto-thumbtack:before {
  content: "\e9e4";
}
.austral-picto-scissors:before {
  content: "\e9d4";
}
.austral-picto-link:before {
  content: "\ea7b";
}
.austral-picto-link-2:before {
  content: "\ea7c";
}
.austral-picto-info:before {
  content: "\e9f1";
}
.austral-picto-smiley:before {
  content: "\e9f2";
}
.austral-picto-meh:before {
  content: "\ea87";
}
.austral-picto-frown:before {
  content: "\ea63";
}
.austral-picto-what:before {
  content: "\e9f3";
}
.austral-picto-resize:before {
  content: "\e9d2";
}
.austral-picto-slash:before {
  content: "\e9f4";
}
.austral-picto-antislash:before {
  content: "\e9f5";
}
.austral-picto-award:before {
  content: "\ea0f";
}
.austral-picto-lightning:before {
  content: "\e9a1";
}
.austral-picto-zap-off:before {
  content: "\eb03";
}
.austral-picto-battery:before {
  content: "\e972";
}
.austral-picto-battery-2:before {
  content: "\ea12";
}
.austral-picto-battery-full:before {
  content: "\ea13";
}
.austral-picto-plug:before {
  content: "\e9ca";
}
.austral-picto-book:before {
  content: "\ea18";
}
.austral-picto-book-open:before {
  content: "\ea19";
}
.austral-picto-brief-case:before {
  content: "\ea1c";
}
.austral-picto-brief-case-2:before {
  content: "\e977";
}
.austral-picto-code-pen:before {
  content: "\ea36";
}
.austral-picto-code-sandbox:before {
  content: "\ea37";
}
.austral-picto-box-big:before {
  content: "\ea01";
}
.austral-picto-package:before {
  content: "\ea9c";
}
.austral-picto-box:before {
  content: "\ea1b";
}
.austral-picto-box-2:before {
  content: "\e975";
}
.austral-picto-crop:before {
  content: "\ea47";
}
.austral-picto-delete:before {
  content: "\ea4a";
}
.austral-picto-pocket:before {
  content: "\eaaf";
}
.austral-picto-moon1:before {
  content: "\ea93";
}
.austral-picto-loader:before {
  content: "\e9a3";
}
.austral-picto-droplet:before {
  content: "\ea4f";
}
.austral-picto-thermometer:before {
  content: "\e9e3";
}
.austral-picto-gift:before {
  content: "\ea64";
}
.austral-picto-branching:before {
  content: "\e976";
}
.austral-picto-points:before {
  content: "\e9cb";
}
.austral-picto-share:before {
  content: "\e9d7";
}
.austral-picto-git-branch:before {
  content: "\ea65";
}
.austral-picto-git-commit:before {
  content: "\ea66";
}
.austral-picto-git-merge:before {
  content: "\ea67";
}
.austral-picto-git-pull-request:before {
  content: "\ea68";
}
.austral-picto-layers:before {
  content: "\e99f";
}
.austral-picto-layers-2:before {
  content: "\ea78";
}
.austral-picto-paperplane:before {
  content: "\e9b2";
}
.austral-picto-send:before {
  content: "\eabd";
}
.austral-picto-mouse-pointer:before {
  content: "\ea96";
}
.austral-picto-navigation:before {
  content: "\ea99";
}
.austral-picto-navigation-2:before {
  content: "\ea9a";
}
.austral-picto-filter:before {
  content: "\e998";
}
.austral-picto-filter-2:before {
  content: "\ea5e";
}
.austral-picto-shopping-bag:before {
  content: "\eac4";
}
.austral-picto-shopping-cart:before {
  content: "\eac5";
}
.austral-picto-shop:before {
  content: "\e9da";
}
.austral-picto-bag:before {
  content: "\e955";
}
.austral-picto-flag:before {
  content: "\ea5f";
}
.austral-picto-tag:before {
  content: "\ead6";
}
.austral-picto-tag-2:before {
  content: "\e9e1";
}
.austral-picto-ticket:before {
  content: "\e9e6";
}
.austral-picto-receipt:before {
  content: "\e9d0";
}
.austral-picto-ribbon:before {
  content: "\e9d3";
}
.austral-picto-terminal:before {
  content: "\ead8";
}
.austral-picto-amazon:before {
  content: "\eb06";
}
.austral-picto-google:before {
  content: "\eb07";
}
.austral-picto-google-2:before {
  content: "\eb08";
}
.austral-picto-google-3:before {
  content: "\eb09";
}
.austral-picto-google-plus:before {
  content: "\eb0a";
}
.austral-picto-google-plus-2:before {
  content: "\eb0b";
}
.austral-picto-google-plus-3:before {
  content: "\eb0c";
}
.austral-picto-hangouts:before {
  content: "\eb0d";
}
.austral-picto-google-drive:before {
  content: "\eb0e";
}
.austral-picto-facebook:before {
  content: "\eb0f";
}
.austral-picto-facebook-2:before {
  content: "\eb10";
}
.austral-picto-instagram:before {
  content: "\eb11";
}
.austral-picto-whatsapp:before {
  content: "\eb12";
}
.austral-picto-spotify:before {
  content: "\eb13";
}
.austral-picto-telegram:before {
  content: "\eb14";
}
.austral-picto-twitter:before {
  content: "\eb15";
}
.austral-picto-vine:before {
  content: "\eb16";
}
.austral-picto-vk:before {
  content: "\eb17";
}
.austral-picto-renren:before {
  content: "\eb18";
}
.austral-picto-sina-weibo:before {
  content: "\eb19";
}
.austral-picto-rss:before {
  content: "\eb1a";
}
.austral-picto-rss-2:before {
  content: "\eb1b";
}
.austral-picto-youtube:before {
  content: "\eb1c";
}
.austral-picto-youtube-2:before {
  content: "\eb1d";
}
.austral-picto-twitch:before {
  content: "\eb1e";
}
.austral-picto-vimeo:before {
  content: "\eb1f";
}
.austral-picto-vimeo-2:before {
  content: "\eb20";
}
.austral-picto-lanyrd:before {
  content: "\eb21";
}
.austral-picto-flickr:before {
  content: "\eb22";
}
.austral-picto-flickr-2:before {
  content: "\eb23";
}
.austral-picto-flickr-3:before {
  content: "\eb24";
}
.austral-picto-flickr-4:before {
  content: "\eb25";
}
.austral-picto-dribbble:before {
  content: "\eb26";
}
.austral-picto-behance:before {
  content: "\eb27";
}
.austral-picto-behance-2:before {
  content: "\eb28";
}
.austral-picto-deviantart:before {
  content: "\eb29";
}
.austral-picto-500px:before {
  content: "\eb2a";
}
.austral-picto-steam:before {
  content: "\eb2b";
}
.austral-picto-steam-2:before {
  content: "\eb2c";
}
.austral-picto-dropbox:before {
  content: "\eb2d";
}
.austral-picto-onedrive:before {
  content: "\eb2e";
}
.austral-picto-github:before {
  content: "\eb2f";
}
.austral-picto-npm:before {
  content: "\eb30";
}
.austral-picto-basecamp:before {
  content: "\eb31";
}
.austral-picto-trello:before {
  content: "\eb32";
}
.austral-picto-wordpress:before {
  content: "\eb33";
}
.austral-picto-joomla:before {
  content: "\eb34";
}
.austral-picto-ello:before {
  content: "\eb35";
}
.austral-picto-blogger:before {
  content: "\eb36";
}
.austral-picto-blogger-2:before {
  content: "\eb37";
}
.austral-picto-tumblr:before {
  content: "\eb38";
}
.austral-picto-tumblr-2:before {
  content: "\eb39";
}
.austral-picto-yahoo:before {
  content: "\eb3a";
}
.austral-picto-yahoo-2:before {
  content: "\eb3b";
}
.austral-picto-tux:before {
  content: "\eb3c";
}
.austral-picto-apple-inc:before {
  content: "\eb3d";
}
.austral-picto-finder:before {
  content: "\eb3e";
}
.austral-picto-android:before {
  content: "\eb3f";
}
.austral-picto-windows:before {
  content: "\eb40";
}
.austral-picto-windows-8:before {
  content: "\eb41";
}
.austral-picto-soundcloud:before {
  content: "\eb42";
}
.austral-picto-soundcloud-2:before {
  content: "\eb43";
}
.austral-picto-skype:before {
  content: "\eb44";
}
.austral-picto-reddit:before {
  content: "\eb45";
}
.austral-picto-hackernews:before {
  content: "\eb46";
}
.austral-picto-wikipedia:before {
  content: "\eb47";
}
.austral-picto-linkedin:before {
  content: "\eb48";
}
.austral-picto-linkedin-2:before {
  content: "\eb49";
}
.austral-picto-lastfm:before {
  content: "\eb4a";
}
.austral-picto-lastfm-2:before {
  content: "\eb4b";
}
.austral-picto-delicious:before {
  content: "\eb4c";
}
.austral-picto-stumbleupon:before {
  content: "\eb4d";
}
.austral-picto-stumbleupon-2:before {
  content: "\eb4e";
}
.austral-picto-stackoverflow:before {
  content: "\eb4f";
}
.austral-picto-pinterest:before {
  content: "\eb50";
}
.austral-picto-pinterest-2:before {
  content: "\eb51";
}
.austral-picto-xing:before {
  content: "\eb52";
}
.austral-picto-xing-2:before {
  content: "\eb53";
}
.austral-picto-flattr:before {
  content: "\eb54";
}
.austral-picto-foursquare:before {
  content: "\eb55";
}
.austral-picto-yelp:before {
  content: "\eb56";
}
.austral-picto-paypal:before {
  content: "\eb57";
}
.austral-picto-chrome:before {
  content: "\eb58";
}
.austral-picto-firefox:before {
  content: "\eb59";
}
.austral-picto-IE:before {
  content: "\eb5a";
}
.austral-picto-edge:before {
  content: "\eb5b";
}
.austral-picto-safari:before {
  content: "\eb5c";
}
.austral-picto-opera:before {
  content: "\eb5d";
}
