$icomoon-font-family: "Austral-picto" !default;
$icomoon-font-path: "fonts" !default;

$austral-picto-company: "\e985";
$austral-picto-home: "\e900";
$austral-picto-home-bis: "\ea71";
$austral-picto-pizza: "\e901";
$austral-picto-caution: "\e902";
$austral-picto-alerte-octagon: "\e903";
$austral-picto-ban: "\e904";
$austral-picto-interdict: "\e905";
$austral-picto-power: "\e906";
$austral-picto-minus: "\e907";
$austral-picto-equal: "\e908";
$austral-picto-not-equal: "\e909";
$austral-picto-menu: "\e90a";
$austral-picto-list-add: "\e90b";
$austral-picto-list-ol: "\ea7d";
$austral-picto-list-ul: "\e90c";
$austral-picto-gantt: "\e90d";
$austral-picto-align-center: "\e90e";
$austral-picto-align-justify: "\e90f";
$austral-picto-align-left: "\e910";
$austral-picto-align-right: "\e911";
$austral-picto-indent-less: "\e912";
$austral-picto-indent-more: "\e913";
$austral-picto-arrange: "\e914";
$austral-picto-arrow-down: "\e915";
$austral-picto-arrow-left: "\e916";
$austral-picto-arrow-leftdown: "\e917";
$austral-picto-arrow-leftup: "\e918";
$austral-picto-arrow-right: "\e919";
$austral-picto-arrow-rightdown: "\e91a";
$austral-picto-arrow-rightup: "\e91b";
$austral-picto-arrow-up: "\e91c";
$austral-picto-corner-rearward: "\e91d";
$austral-picto-corner-forward: "\e91e";
$austral-picto-corner-down-left: "\ea3d";
$austral-picto-corner-down-right: "\ea3e";
$austral-picto-corner-left-down: "\ea3f";
$austral-picto-corner-left-up: "\ea40";
$austral-picto-corner-right-down: "\ea41";
$austral-picto-corner-right-up: "\ea42";
$austral-picto-corner-up-left: "\ea43";
$austral-picto-corner-up-right: "\ea44";
$austral-picto-switch: "\e920";
$austral-picto-minimize: "\e91f";
$austral-picto-maximize: "\e921";
$austral-picto-move: "\e922";
$austral-picto-go-in: "\e923";
$austral-picto-go-out: "\e924";
$austral-picto-log-in: "\ea80";
$austral-picto-log-out: "\ea81";
$austral-picto-box-in: "\e925";
$austral-picto-box-out: "\e926";
$austral-picto-simply-left: "\e927";
$austral-picto-simply-down: "\e928";
$austral-picto-simply-right: "\e929";
$austral-picto-simply-up: "\e92a";
$austral-picto-chevrons-left: "\ea29";
$austral-picto-chevrons-down: "\ea28";
$austral-picto-chevrons-right: "\ea2a";
$austral-picto-chevrons-up: "\ea2b";
$austral-picto-check: "\e92b";
$austral-picto-plus: "\e92c";
$austral-picto-cross: "\e92d";
$austral-picto-rotate-anticlockwise: "\e92e";
$austral-picto-rotate-clockwise: "\e92f";
$austral-picto-refresh: "\e930";
$austral-picto-refresh-ccw: "\eab3";
$austral-picto-refresh-cw: "\eab4";
$austral-picto-repeat: "\eab5";
$austral-picto-shuffle: "\e931";
$austral-picto-code: "\e932";
$austral-picto-circle-info: "\ea74";
$austral-picto-circle-alert: "\e9f8";
$austral-picto-circle-help: "\ea6f";
$austral-picto-circle-check-out: "\ea22";
$austral-picto-circle-check: "\e933";
$austral-picto-circle-cross: "\e934";
$austral-picto-circle-minus: "\e935";
$austral-picto-circle-plus: "\e936";
$austral-picto-circle-play: "\eaab";
$austral-picto-circle-pause: "\ea9f";
$austral-picto-circle-stop: "\ead1";
$austral-picto-circle-arrow-down: "\ea03";
$austral-picto-circle-arrow-left: "\ea07";
$austral-picto-circle-arrow-right: "\ea09";
$austral-picto-circle-arrow-up: "\ea0b";
$austral-picto-octagon-cross: "\eb00";
$austral-picto-copy: "\ea3c";
$austral-picto-stack: "\e93f";
$austral-picto-stack-2: "\e940";
$austral-picto-square-help: "\e939";
$austral-picto-square-check-out: "\ea23";
$austral-picto-square-check: "\e937";
$austral-picto-square-cross: "\e938";
$austral-picto-square-minus: "\e93a";
$austral-picto-square-plus: "\e93b";
$austral-picto-marquee: "\e941";
$austral-picto-marquee-minus: "\e942";
$austral-picto-marquee-plus: "\e943";
$austral-picto-clipboard: "\e944";
$austral-picto-paper-stack: "\e945";
$austral-picto-file: "\e946";
$austral-picto-file-add: "\e948";
$austral-picto-file-subtract: "\e94b";
$austral-picto-file-text: "\ea5c";
$austral-picto-file-paper: "\e947";
$austral-picto-file-check: "\e949";
$austral-picto-file-cross: "\e94a";
$austral-picto-file-download: "\e94c";
$austral-picto-file-upload: "\e94d";
$austral-picto-download: "\e94e";
$austral-picto-upload: "\e94f";
$austral-picto-open: "\e9af";
$austral-picto-sliders: "\eacb";
$austral-picto-cog: "\e951";
$austral-picto-tool: "\eade";
$austral-picto-paper-clip: "\e9b1";
$austral-picto-save: "\eaba";
$austral-picto-feather: "\e996";
$austral-picto-pen: "\e954";
$austral-picto-edit: "\ea51";
$austral-picto-edit-2: "\ea50";
$austral-picto-edit-3: "\ea52";
$austral-picto-trash: "\e956";
$austral-picto-trash-2: "\eae0";
$austral-picto-folder: "\e957";
$austral-picto-folder-add: "\e958";
$austral-picto-folder-subtract: "\e959";
$austral-picto-cloud: "\e95a";
$austral-picto-cloud-download: "\e95b";
$austral-picto-cloud-upload: "\e95c";
$austral-picto-cloud-upload-2: "\eaec";
$austral-picto-unlock: "\e95d";
$austral-picto-lock: "\e95e";
$austral-picto-shield: "\e9d8";
$austral-picto-shield-off: "\e9d9";
$austral-picto-eye: "\e95f";
$austral-picto-eyenot: "\e960";
$austral-picto-location: "\e961";
$austral-picto-zoom-in: "\e962";
$austral-picto-zoom-out: "\e963";
$austral-picto-search: "\e9d5";
$austral-picto-head: "\e964";
$austral-picto-user: "\e965";
$austral-picto-user-check: "\eaee";
$austral-picto-user-minus: "\eaef";
$austral-picto-user-plus: "\e966";
$austral-picto-user-cross: "\eaf1";
$austral-picto-users: "\e967";
$austral-picto-woman: "\e997";
$austral-picto-man: "\e99d";
$austral-picto-handicap-access: "\e99b";
$austral-picto-message-circle: "\ea89";
$austral-picto-speech-bubble: "\e968";
$austral-picto-speech-bubble-full: "\e969";
$austral-picto-speech-bubble-message: "\e96a";
$austral-picto-heart: "\e96b";
$austral-picto-heart-full: "\e96c";
$austral-picto-star: "\e96d";
$austral-picto-star-full: "\e96e";
$austral-picto-bar-graph: "\e970";
$austral-picto-bar-graph-2: "\e971";
$austral-picto-bell: "\e973";
$austral-picto-bell-2: "\ea14";
$austral-picto-bell-off: "\ea15";
$austral-picto-globe: "\e99a";
$austral-picto-aperture: "\ea00";
$austral-picto-help: "\e979";
$austral-picto-charts: "\e97a";
$austral-picto-charts-2: "\e97b";
$austral-picto-charts-3: "\e97c";
$austral-picto-pie-graph: "\e97d";
$austral-picto-pie-chart: "\eaa9";
$austral-picto-circles: "\e97e";
$austral-picto-record: "\e9d1";
$austral-picto-circle: "\ea2c";
$austral-picto-disc: "\e991";
$austral-picto-target: "\ead7";
$austral-picto-infinity: "\e97f";
$austral-picto-calendar: "\e978";
$austral-picto-calendar-2: "\ea1d";
$austral-picto-chrono: "\e980";
$austral-picto-clock: "\e981";
$austral-picto-watch: "\e982";
$austral-picto-clock-2: "\e983";
$austral-picto-historic: "\e99c";
$austral-picto-hourglass: "\e99e";
$austral-picto-columns: "\e984";
$austral-picto-columns-2: "\ea39";
$austral-picto-sidebar: "\eac7";
$austral-picto-layout: "\e9a0";
$austral-picto-layout-2: "\eae1";
$austral-picto-content-left: "\e986";
$austral-picto-content-right: "\e987";
$austral-picto-grid-2: "\e988";
$austral-picto-qrcode: "\e9cf";
$austral-picto-grid: "\e989";
$austral-picto-list: "\e98a";
$austral-picto-cube: "\e98b";
$austral-picto-figure: "\e98c";
$austral-picto-expand: "\e98d";
$austral-picto-contract: "\e98e";
$austral-picto-credit-card: "\ea46";
$austral-picto-credit-card-2: "\e98f";
$austral-picto-ellipsis: "\e993";
$austral-picto-ellipsis-vertical: "\e994";
$austral-picto-more-horizontal: "\ea94";
$austral-picto-more-vertical: "\ea95";
$austral-picto-hexagon: "\ea70";
$austral-picto-octagon: "\ea9b";
$austral-picto-square: "\e93d";
$austral-picto-square-full: "\e93e";
$austral-picto-stop: "\e93c";
$austral-picto-lozenge: "\e9a5";
$austral-picto-lozenge-full: "\e9a6";
$austral-picto-triangle: "\eae4";
$austral-picto-up: "\e9a7";
$austral-picto-down: "\e992";
$austral-picto-mail: "\e9a8";
$austral-picto-arobase: "\e953";
$austral-picto-phone: "\e9b4";
$austral-picto-phone-full: "\e9b3";
$austral-picto-phone-call: "\e9b5";
$austral-picto-phone-forwarded: "\eaa4";
$austral-picto-phone-incoming: "\eaa5";
$austral-picto-phone-missed: "\eaa6";
$austral-picto-phone-off: "\e9b6";
$austral-picto-phone-outgoing: "\eaa8";
$austral-picto-compass: "\ea3b";
$austral-picto-pin: "\e9b7";
$austral-picto-map: "\e9a9";
$austral-picto-bluetooth: "\ea16";
$austral-picto-wifi: "\eafb";
$austral-picto-wifi-off: "\eafc";
$austral-picto-rss-light: "\eab9";
$austral-picto-radio: "\eab2";
$austral-picto-media-rewind-fast: "\e9b8";
$austral-picto-media-forward-fast: "\e9b9";
$austral-picto-media-rewind: "\eac8";
$austral-picto-media-forward: "\eac9";
$austral-picto-media-rewind-2: "\e9ba";
$austral-picto-media-forward-2: "\e9bb";
$austral-picto-media-rewind-3: "\eab6";
$austral-picto-media-forward-3: "\ea56";
$austral-picto-play: "\e9bc";
$austral-picto-play-full: "\e9bd";
$austral-picto-pause: "\e9be";
$austral-picto-pause-2: "\ea9e";
$austral-picto-mic: "\e9bf";
$austral-picto-mic-off: "\ea8c";
$austral-picto-headphone: "\e9c0";
$austral-picto-speaker: "\eace";
$austral-picto-volume: "\eaf6";
$austral-picto-volume-middle: "\eaf7";
$austral-picto-volume-full: "\e9c2";
$austral-picto-volume-mute: "\e9c1";
$austral-picto-voicemail: "\eaf5";
$austral-picto-music: "\e9c3";
$austral-picto-movie: "\e9c4";
$austral-picto-image: "\e9c5";
$austral-picto-camera: "\ea1e";
$austral-picto-camera-off: "\ea1f";
$austral-picto-video: "\eaf3";
$austral-picto-video-off: "\eaf4";
$austral-picto-cast: "\ea20";
$austral-picto-monitor: "\ea92";
$austral-picto-tv: "\eae6";
$austral-picto-airplay: "\e9f7";
$austral-picto-printer: "\e9cc";
$austral-picto-printer-2: "\eab1";
$austral-picto-mouse: "\e9ae";
$austral-picto-pad: "\e9b0";
$austral-picto-tablet: "\ead5";
$austral-picto-smartphone: "\eacc";
$austral-picto-analytics: "\e9c6";
$austral-picto-activity: "\e9c7";
$austral-picto-trending-down: "\e9c8";
$austral-picto-trending-up: "\e9c9";
$austral-picto-bar-chart: "\ea10";
$austral-picto-bar-chart-2: "\ea11";
$austral-picto-database: "\ea49";
$austral-picto-inbox: "\ea73";
$austral-picto-hard-drive: "\ea6b";
$austral-picto-server: "\eabe";
$austral-picto-archive: "\e952";
$austral-picto-cpu: "\ea45";
$austral-picto-cpu-2: "\e9ce";
$austral-picto-speed: "\e9df";
$austral-picto-spinner: "\e9e0";
$austral-picto-toggle-left: "\eadc";
$austral-picto-toggle-right: "\eadd";
$austral-picto-hash: "\23";
$austral-picto-percent: "\25";
$austral-picto-euro: "\20ac";
$austral-picto-dollar: "\24";
$austral-picto-anchor: "\e96f";
$austral-picto-anchor-2: "\e9ff";
$austral-picto-text: "\e9e8";
$austral-picto-news: "\e9e9";
$austral-picto-superior: "\e9ea";
$austral-picto-symbol: "\e9eb";
$austral-picto-bold: "\e9ec";
$austral-picto-italic: "\e9ed";
$austral-picto-underline: "\e9ee";
$austral-picto-strike: "\e9ef";
$austral-picto-paragraph: "\e9f0";
$austral-picto-thumbtack: "\e9e4";
$austral-picto-scissors: "\e9d4";
$austral-picto-link: "\ea7b";
$austral-picto-link-2: "\ea7c";
$austral-picto-info: "\e9f1";
$austral-picto-smiley: "\e9f2";
$austral-picto-meh: "\ea87";
$austral-picto-frown: "\ea63";
$austral-picto-what: "\e9f3";
$austral-picto-resize: "\e9d2";
$austral-picto-slash: "\e9f4";
$austral-picto-antislash: "\e9f5";
$austral-picto-award: "\ea0f";
$austral-picto-lightning: "\e9a1";
$austral-picto-zap-off: "\eb03";
$austral-picto-battery: "\e972";
$austral-picto-battery-2: "\ea12";
$austral-picto-battery-full: "\ea13";
$austral-picto-plug: "\e9ca";
$austral-picto-book: "\ea18";
$austral-picto-book-open: "\ea19";
$austral-picto-brief-case: "\ea1c";
$austral-picto-brief-case-2: "\e977";
$austral-picto-code-pen: "\ea36";
$austral-picto-code-sandbox: "\ea37";
$austral-picto-box-big: "\ea01";
$austral-picto-package: "\ea9c";
$austral-picto-box: "\ea1b";
$austral-picto-box-2: "\e975";
$austral-picto-crop: "\ea47";
$austral-picto-delete: "\ea4a";
$austral-picto-pocket: "\eaaf";
$austral-picto-moon1: "\ea93";
$austral-picto-loader: "\e9a3";
$austral-picto-droplet: "\ea4f";
$austral-picto-thermometer: "\e9e3";
$austral-picto-gift: "\ea64";
$austral-picto-branching: "\e976";
$austral-picto-points: "\e9cb";
$austral-picto-share: "\e9d7";
$austral-picto-git-branch: "\ea65";
$austral-picto-git-commit: "\ea66";
$austral-picto-git-merge: "\ea67";
$austral-picto-git-pull-request: "\ea68";
$austral-picto-layers: "\e99f";
$austral-picto-layers-2: "\ea78";
$austral-picto-paperplane: "\e9b2";
$austral-picto-send: "\eabd";
$austral-picto-mouse-pointer: "\ea96";
$austral-picto-navigation: "\ea99";
$austral-picto-navigation-2: "\ea9a";
$austral-picto-filter: "\e998";
$austral-picto-filter-2: "\ea5e";
$austral-picto-shopping-bag: "\eac4";
$austral-picto-shopping-cart: "\eac5";
$austral-picto-shop: "\e9da";
$austral-picto-bag: "\e955";
$austral-picto-flag: "\ea5f";
$austral-picto-tag: "\ead6";
$austral-picto-tag-2: "\e9e1";
$austral-picto-ticket: "\e9e6";
$austral-picto-receipt: "\e9d0";
$austral-picto-ribbon: "\e9d3";
$austral-picto-terminal: "\ead8";
$austral-picto-amazon: "\eb06";
$austral-picto-google: "\eb07";
$austral-picto-google-2: "\eb08";
$austral-picto-google-3: "\eb09";
$austral-picto-google-plus: "\eb0a";
$austral-picto-google-plus-2: "\eb0b";
$austral-picto-google-plus-3: "\eb0c";
$austral-picto-hangouts: "\eb0d";
$austral-picto-google-drive: "\eb0e";
$austral-picto-facebook: "\eb0f";
$austral-picto-facebook-2: "\eb10";
$austral-picto-instagram: "\eb11";
$austral-picto-whatsapp: "\eb12";
$austral-picto-spotify: "\eb13";
$austral-picto-telegram: "\eb14";
$austral-picto-twitter: "\eb15";
$austral-picto-vine: "\eb16";
$austral-picto-vk: "\eb17";
$austral-picto-renren: "\eb18";
$austral-picto-sina-weibo: "\eb19";
$austral-picto-rss: "\eb1a";
$austral-picto-rss-2: "\eb1b";
$austral-picto-youtube: "\eb1c";
$austral-picto-youtube-2: "\eb1d";
$austral-picto-twitch: "\eb1e";
$austral-picto-vimeo: "\eb1f";
$austral-picto-vimeo-2: "\eb20";
$austral-picto-lanyrd: "\eb21";
$austral-picto-flickr: "\eb22";
$austral-picto-flickr-2: "\eb23";
$austral-picto-flickr-3: "\eb24";
$austral-picto-flickr-4: "\eb25";
$austral-picto-dribbble: "\eb26";
$austral-picto-behance: "\eb27";
$austral-picto-behance-2: "\eb28";
$austral-picto-deviantart: "\eb29";
$austral-picto-500px: "\eb2a";
$austral-picto-steam: "\eb2b";
$austral-picto-steam-2: "\eb2c";
$austral-picto-dropbox: "\eb2d";
$austral-picto-onedrive: "\eb2e";
$austral-picto-github: "\eb2f";
$austral-picto-npm: "\eb30";
$austral-picto-basecamp: "\eb31";
$austral-picto-trello: "\eb32";
$austral-picto-wordpress: "\eb33";
$austral-picto-joomla: "\eb34";
$austral-picto-ello: "\eb35";
$austral-picto-blogger: "\eb36";
$austral-picto-blogger-2: "\eb37";
$austral-picto-tumblr: "\eb38";
$austral-picto-tumblr-2: "\eb39";
$austral-picto-yahoo: "\eb3a";
$austral-picto-yahoo-2: "\eb3b";
$austral-picto-tux: "\eb3c";
$austral-picto-apple-inc: "\eb3d";
$austral-picto-finder: "\eb3e";
$austral-picto-android: "\eb3f";
$austral-picto-windows: "\eb40";
$austral-picto-windows-8: "\eb41";
$austral-picto-soundcloud: "\eb42";
$austral-picto-soundcloud-2: "\eb43";
$austral-picto-skype: "\eb44";
$austral-picto-reddit: "\eb45";
$austral-picto-hackernews: "\eb46";
$austral-picto-wikipedia: "\eb47";
$austral-picto-linkedin: "\eb48";
$austral-picto-linkedin-2: "\eb49";
$austral-picto-lastfm: "\eb4a";
$austral-picto-lastfm-2: "\eb4b";
$austral-picto-delicious: "\eb4c";
$austral-picto-stumbleupon: "\eb4d";
$austral-picto-stumbleupon-2: "\eb4e";
$austral-picto-stackoverflow: "\eb4f";
$austral-picto-pinterest: "\eb50";
$austral-picto-pinterest-2: "\eb51";
$austral-picto-xing: "\eb52";
$austral-picto-xing-2: "\eb53";
$austral-picto-flattr: "\eb54";
$austral-picto-foursquare: "\eb55";
$austral-picto-yelp: "\eb56";
$austral-picto-paypal: "\eb57";
$austral-picto-chrome: "\eb58";
$austral-picto-firefox: "\eb59";
$austral-picto-IE: "\eb5a";
$austral-picto-edge: "\eb5b";
$austral-picto-safari: "\eb5c";
$austral-picto-opera: "\eb5d";

