<div class="grid grid--no-gutters">
  <div class="row pdb20">
    <div class="col col--xs-1">
      <span class="font-poppins-m-13-uppercase block">Path :</span>
    </div>
    <div class="col col--xs-11">
      <span class="font-poppins-m-11 block">/bundles/australadmin/images/tile-picto/color-{{ color }}/</span>
    </div>
  </div>
  <div class="row">
    <div class="col col--xs-12">
      <ul class="row row-col--5">
        {% for value in tileIllustrations %}
          <li class="col col--no-gutters border-main-10">
            <div class="pt10 pb10 border-bottom-main-10 background-main-10 text_align_center">
              <span class="font-poppins-m-11 block">austral-icon-{{ value }}.svg</span>
            </div>
            <div>
              <img class="w100" src="/images/tile-picto/color-{{ color }}/austral-icon-{{ value }}.svg" />
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>